<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSScreenCaptureUsageDescription</key>
	<string>Clicky needs screen recording access to see your screen and help you.</string>
	<key>VoiceTranscriptionProvider</key>
	<string>apple</string>
</dict>
</plist>
